$padSize:220px;
$padRadius:30px;
$armWidth:30%;
$armHeight:70px;

a{
  color:#0033dd;
  text-decoration:none;
  &:link{
    text-decoration:none;
  }
}


#tab{
  position:relative;
  width:100%;
  height:45px;
  line-height: 45px;
  display:table;
  table-layout: fixed;
  border-bottom:1px solid #eee;
  background:white;
  opacity:0.6;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.2);
  z-index:10;
  .tabBtn{
    display: table-cell;
    text-align:center;
    height:45px;
    line-height:45px;
    color:#454545;
    &.active{
      color:#007aff;
    }
    &:active{
      background:#ddd;
    }
  }
}

#ctrlWrap{
  width:100%;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  position:absolute;
  #status{
    position: absolute;
    bottom: 0;
    right:0;
    font-size:small;
    color:white;
  }
  #background{
    position:absolute;
    width:100%;
    height:100%;
    background:black;
  }
  .pad{
    position:absolute;
    bottom:5%;
    background:rgba(255,255,255,0.8);
    width:$padSize;
    height: $padSize;
    border-radius:$padRadius;
    &#left{
      left:10%;
    }
    &#right{
      right:10%;
    }
    .top,.bottom,.left,.right{
      position:absolute;
      color:rgba(45,45,45,0.5);
      text-align:center;
      font-size:$padSize/6;
      line-height:200%;
      vertical-align:middle;
      &:active{
        background:white;
      }
    }
    .top{
      top:0;
      left:0;
      right:0;
      height:30%;
      width:100%;
      border-radius:$padRadius $padRadius 0 0;
    }
    .left{
      top:30%;
      left:0;
      height:40%;
      width:50%;
    }
    .right{
      top:30%;
      right:0;
      height:40%;
      width:50%;
    }
    .bottom{
      bottom:0;
      left:0;
      right:0;
      height:30%;
      width:100%;
      border-radius:0 0 $padRadius $padRadius;
    }
  }

  #arm,#disarm{
    position:absolute;
    bottom: 0;
    width: $armWidth;
    left:(100%-$armWidth)/2;
    height:$armHeight;
    border-radius:$armHeight/2 $armHeight/2 0 0;
    text-align: center;
    line-height: $armHeight;
    font-size:$armHeight - 8px;
    color:#fff;
  }
  #arm{
    background: #e50114;
background: -moz-linear-gradient(top, #e50114 0%, #e30105 55%, #b8000f 100%);
background: -webkit-linear-gradient(top, #e50114 0%,#e30105 55%,#b8000f 100%);
background: linear-gradient(to bottom, #e50114 0%,#e30105 55%,#b8000f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50114', endColorstr='#b8000f',GradientType=0 );
  }
  #disarm{
    background: #626262;
    background: -moz-linear-gradient(top, #626262 0%, #616161 55%, #4f4f4f 100%);
    background: -webkit-linear-gradient(top, #626262 0%,#616161 55%,#4f4f4f 100%);
    background: linear-gradient(to bottom, #626262 0%,#616161 55%,#4f4f4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626262', endColorstr='#4f4f4f',GradientType=0 );
  }
}
#expert{
  .packet{
    font-size:10px;
    font-family:monospace;
    padding:1px;
    &:nth-child(2n){
      background: #def;
    }
    .statusPacket{
      &:before{
        content:"Stat";
        background:#aaa;
        border-radius: 3px;
        display: inline-block;
        padding:1px;
      }
      *{
        display:inline-block;
        padding:2px;
        margin:1px;
      }
      .accX,.accY,.accZ{
        width:60px;
        background:rgba(255,0,0,0.3);
      }

      .gyroX,.gyroY,.gyroZ{
        width:60px;
        background:rgba(0,255,255,0.3);
      }
      
      .motorV,.yaw,.pitch,.roll,.thro{
        width:30px;
      }
      .motorV{
        background: rgba(0,0,255,0.3);
      }
      .yaw,.pitch,.roll,.thro{
        background: rgba(0,255,255,0.3);
      }
      .armed{
        background: rgba(255,255,0,0.3);
      }
    }
    .rawPacket{
      &:before{
        content:"Raw";
        background:#aaa;
        border-radius: 3px;
        display: inline-block;
        padding:1px;
      }
    }
    .asciiPacket{
      &:before{
        content:"ASCII";
        background:#aaa;
        border-radius: 3px;
        display: inline-block;
        padding:1px;
      }
    }
    .motorConfig{
      &:before{
        content:"Motor";
        background:#aaa;
        border-radius: 3px;
        display: inline-block;
        padding:1px;
      }
      .motorItm{
        display:inline-block;
        border-radius:5px;
        box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5);
        margin:2px;
        position: relative;
        .pin{
        }
        .name{
          font-size:14px;
          
        }
        .type{
          float: right;
        }
      }
    }
  }
}
#option{
  .optionItm{
    border-bottom:1px solid #aaa;
    line-height:50px;
    height:50px;
    padding:0 10px;
    .label{
      vertical-align: middle;
      margin:0 10px;
    }
    input[type=checkbox]{
      width:1.5em;
      height:1.5em;
      vertical-align: middle;
    }
    .in{
      float: right;
    }
  }
  
}

$cubeWidth:150px;
$cubeHeight:150px;
$cubeDepth:50px;
#advWrap{
  //http://cartman0.hatenablog.com/entry/2015/05/29/173343からお借りしました.
  .cube {
    width: 1px;
    height: 1px;
    margin: 180px auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    //border: 5px solid red;
    position: relative;
    transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  .surface {
    width:100px;
    height:100px;
    left: calc(-100px / 2);
    top: calc(-100px / 2);
    background: rgba(0, 0, 0, 0.8);
    
    border: 2px solid gray;
    position: absolute;
    text-align: center;
  }

  .front {
    transform:translateZ($cubeWidth/2);
    width:$cubeHeight;
    height:$cubeDepth;
    line-height:$cubeDepth;
    left:-$cubeHeight/2;
    top: -$cubeDepth/2;
    background: rgba(0, 255, 0, 0.8);
  }
  .back {
    transform:translateZ(-$cubeWidth/2) rotateY(180deg);
    width:$cubeHeight;
    height:$cubeDepth;
    line-height:$cubeDepth;
    left:-$cubeHeight/2;
    top: -$cubeDepth/2;
    background: rgba(0, 0, 255, 0.8);
  }
  .right {
    transform:translateX($cubeHeight/2) rotateY(90deg);
    width:$cubeWidth;
    height:$cubeDepth;
    line-height:$cubeDepth;
    left:-$cubeWidth/2;
    top: -$cubeDepth/2;
    background: rgba(255, 0, 0, 0.8);
  }
  .left {
    transform:translateX(-$cubeHeight/2) rotateY(-90deg);
    width:$cubeWidth;
    height:$cubeDepth;
    line-height:$cubeDepth;
    left:-$cubeWidth/2;
    top: -$cubeDepth/2;
    background: rgba(0, 255, 255, 0.8);
  }
  .top{
    transform:translateY($cubeDepth/2) rotateX(90deg);
    height:$cubeWidth;
    line-height:$cubeWidth;
    width:$cubeHeight;
    top:-$cubeWidth/2;
    left: -$cubeHeight/2;
    background: rgba(255, 255, 0, 0.8);
  }
  .bottom{
    transform:translateY(-$cubeDepth/2) rotateX(-90deg);
    
    height:$cubeWidth;
    line-height:$cubeWidth;
    width:$cubeHeight;
    top:-$cubeWidth/2;
    left: -$cubeHeight/2;
    background: rgba(255, 0,255, 0.8);
  }
}

