<div id="advWrap">
  <div v-for="(i,ind) in motors">{{i.name}}:<input type="range" @input="changeVal(ind,$event)" min=0 max=255 step=1 :value="i.value" /></div>

  <h3>Current Status</h3>
  Xaxis(rad) = {{stat.radX}}<br>
  Yaxis(rad) = {{stat.radY}}<br>

  <div class="cube" id="accCube" :style='stat.accCubeStyle'>
    <div class="surface front">front</div>
    <div class="surface right">right</div>
    <div class="surface left">left</div>
    <div class="surface top">top</div>
    <div class="surface bottom">bottom</div>
    <div class="surface back">back</div>
  </div>
  <div class="cube" id="gyroCube" :style='stat.gyroCubeStyle'>
    <div class="surface front">front</div>
    <div class="surface right">right</div>
    <div class="surface left">left</div>
    <div class="surface top">top</div>
    <div class="surface bottom">bottom</div>
    <div class="surface back">back</div>
  </div>
</div>
