<div id="option">
  <h3>Option</h3>
  <div class="optionItm">
    <input type="checkbox" v-model="sensorEnabled"/><span class="label">Enable sensor</span>
  </div>
  <div class="optionItm">
    <span class="label">Status sending interval(x10milli sec,set zero to stop reporting)</span><input type="number" v-model="sensorIntv"/>
  </div>
  <div class="optionItm">
    <span class="label">Frequency</span><input type="number" v-model="pwmFreq"/>
  </div>
  <div class="optionItm">
    <button @click="sendOpt">Send Option</button>
  </div>
  <h3>Parameters</h3>
  <div class="optionItm">
    <span class="label">KP</span><input type="number" step=0.01 v-model="kp"/>
  </div>
  <div class="optionItm">
    <span class="label">KI</span><input type="number" step=0.01 v-model="ki"/>
  </div>
  <div class="optionItm">
    <span class="label">KD</span><input type="number" step=0.01 v-model="kd"/>
  </div>
  <div class="optionItm">
    <span class="label">Sensor Callibration(x,y,z)=</span><input type="number" step=0.01 v-model="xCal"/><input type="number" step=0.01 v-model="yCal"/><input type="number" step=0.01 v-model="zCal"/>
  </div>
  <div class="optionItm">
    <span class="label">axis(y,p,r,t)=</span><input type="number" step=0.01 v-model="yawScale"/><input type="number" step=0.01 v-model="pitchScale"/><input type="number" step=0.01 v-model="rollScale"/><input type="number" step=0.01 v-model="throScale"/>
  </div>
  
  <div class="optionItm">
    <button @click="sendParam">Send Parameter</button>
  </div>
</div>

